* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	overflow: hidden;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: green;
	height: 150px;

	.heading {
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
			'Lucida Sans', Arial, sans-serif;
		font-size: 3em;
	}
}

.sidebar {
	width: 300px;
	background-color: grey;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: calc(100vh - 150px);
	margin-left: 20px;
	position: relative;
	top: -20px;
	border-radius: 5px;

	h1 {
		color: white;
	}

	a {
		text-decoration: none;
		font-size: 24px;
		color: grey;
		display: inline-block;
		background-color: lightgray;
		margin: 10px 0;
		padding: 5px 10px;
		border-radius: 5px;
		font-weight: bolder;
		width: 100%;
	}
}
