@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,400;1,600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: green;
	height: 150px;

	.heading {
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
			'Lucida Sans', Arial, sans-serif;
		font-size: 3em;
	}
}

.sidebar {
	width: 300px;
	background-color: grey;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: calc(100vh - 150px);
	margin-left: 20px;
	position: relative;
	top: -20px;
	border-radius: 5px;

	h1 {
		color: white;
		width: 100%;
		padding: 5px;
		text-align: center;
		border-bottom: 5px solid white;
	}

	.route_cont {
		a {
			width: 100%;
			margin-top: 10px;
			padding: 5px 10px;
			display: inline-block;
			background-color: lightgray;
			font-size: 24px;
			color: grey;
			text-decoration: none;
			font-weight: 900;
			font-variant: small-caps;
			text-align: center;
			border-radius: 5px;
		}
	}
}
